#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #ac0505;
  background-color: darkslategrey;
  margin: 2;
}

#container a {
  text-decoration: none;
}




.contenido{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  margin: 12;

  align-content: center;

  text-align: justify;

  margin-right: 3;
  margin-left: 200;
  color: #DEE9F1;
 
}

